.search-container {
    width: 1250px;
    height: 270px;
    background: #e6f7ff;
    border-radius: 16px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
}

.search-title {
    position: absolute;
    top: 154px;
    left: 149px;
    margin-bottom: 10px;
}

.search-box {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 676px;
    border-radius: 4px;
    position: absolute;
    top: 230px;
    left: 149px;
    padding: 8px auto 8px auto;
}

input {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 40px;
    width: 676px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color:  #BFBFBF;
    padding-left: 20px;
}

.search-button {
    position: absolute;
    top: 245px;
    left: 149px;
}
