.search-container {
    width: 1250px;
    height: 270px;
    background: #e6f7ff;
    border-radius: 16px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
}

.search-title {
    position: absolute;
    top: 154px;
    left: 149px;
    margin-bottom: 10px;
}

.search-box {
    box-sizing: border-box;
    height: 40px;
    width: 676px;
    position: absolute;
    top: 230px;
    left: 149px;
}

input[type=text] {
    height: 40px;
    width: 676px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color:  #BFBFBF;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}
/*
input[type=text]::placeholder{   
    border: none; 
    height: 50px;
    width: 676px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color:  #BFBFBF;
}  */

.search-button {
    position: absolute;
    top: 270px;
    left: 149px;
}


/* trecho do resultsearch*/
.search-result-container {
    width: 1250px;
    height: 390px;
    background: #f5f4f4;
    border-radius: 8px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
}

.box-image {
    width: 280px;
    height: 288px;
    position: relative;
    top: 27px;
    left: 23px;
    border: solid 1px black;
}

.box-image img {
    width: 280px;
    height: 288px;
}

.button-container {
    position: relative;
    left: 23px;
    margin-top: 20px;
}

.result-info-container {
    width: 870px;
    height: 280px;
    position: relative;
    top: -375px;
    left: -30px;
    float: right;
    box-sizing: border-box;
}

.result-info-container div {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 22px;
    width: 163px;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: #595959;
    box-sizing: border-box;
    display: inline;
    margin-right: 8px;
    padding: 5px 14px;
}

.result-personal-container {
    width: 850px;
    height: 250px;
    background: #fff;
    border: 1px solid #d9d9d9;
    position: relative;
    top: -340px;
    left: 350px;
    border-radius: 6px;
    padding-top: 10px;
    position: relative;
}

.result-personal-container h5 {
    color: #1890ff;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.result-personal-container div {
    width: 800px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    padding-left: 12px;
    color: #737373;
}

.result-personal-container span {
    color: #737373;
    font-weight:lighter;
}

.info-github {
    width: 830px;
    height: 40px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
