.main-navbar {
    width: 100%;
    max-width: 1280px;
    height: 62px;
    background: #1890FF;
    padding-left: 10%;
}

.logo-container {   
    height: 35px;
    width: 250px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.nav-logo-text {
    color: #FFF;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
}

